<div class="formgrid grid">
  <div class="field col-12">
    <h1>Static text in placeholder</h1>
  </div>

  <div class="field col-12 md:col-6">
    <label for="sticCountry" class="mr-2">Country:</label>
    <p-dropdown id="sticCountry" [options]="countries" [(ngModel)]="staticSelectedCountry" optionLabel="name" [showClear]="true"
                (onChange)="onStaticCountryChange($event.value)" placeholder="Select a Country"></p-dropdown>
  </div>

  <div class="field col-12 md:col-6">
    <label for="city" class="mr-2">City:</label>
    <p-dropdown id="city" [options]="staticCities" [(ngModel)]="staticSelectedCity" optionLabel="name" [showClear]="true"
                placeholder="Select a City"></p-dropdown>
  </div>

  <div class="col-12">
    <p-button (click)="staticClear()">Clear</p-button>
  </div>

  <div class="field col-12 mt-5">
    <h1>Dynamic text in placeholder (with pipe)</h1>
    <label for="language">Language:</label>
    <p-selectButton id="language" [options]="languages" [(ngModel)]="selectedLanguage" optionLabel="name" optionValue="code"
                    (onOptionClick)="changeLanguage($event)"></p-selectButton>
  </div>

  <div class="field col-12 md:col-6">
    <label for="dynamicCountry" class="mr-2">Country:</label>
    <p-dropdown id="dynamicCountry" [options]="countries" [(ngModel)]="dynamicSelectedCountry" optionLabel="name" [showClear]="true"
                (onChange)="onDynamicCountryChange($event.value)" placeholder="{{'selectCountry' | translate}}"></p-dropdown>
  </div>

  <div class="field col-12 md:col-6">
    <label for="dynamicCity" class="mr-2">City:</label>
    <p-dropdown id="dynamicCity" [options]="dynamicCities" [(ngModel)]="dynamicSelectedCity" optionLabel="name" [showClear]="true"
                placeholder="{{'selectCity' | translate}}"></p-dropdown>
  </div>

  <div class="col-12">
    <p-button (click)="dynamicClear()">Clear</p-button>
  </div>
</div>
