<div class="formgrid grid">
  <div class="field col-12">
    <h1>Static text in placeholder</h1>
  </div>

  <div class="field col-12 md:col-6">
    <label for="country" class="mr-2">Country:</label>
    <p-dropdown id="country" [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name" [showClear]="true"
                (onChange)="onCountryChange($event.value)" placeholder="Select a Country"></p-dropdown>
  </div>

  <div class="field col-12 md:col-6">
    <label for="city" class="mr-2">City:</label>
    <p-dropdown id="city" [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" [showClear]="true"
                placeholder="Select a City"></p-dropdown>
  </div>

  <div class="col-12">
    <p-button (click)="clear()">Clear</p-button>
  </div>
</div>
