<div class="formgrid grid">
  <div class="field col-12">
    <h1>Static text in placeholder</h1>
  </div>

  <div class="field col-12 md:col-6">
    <label for="staticCountry" class="mr-2">Country:</label>
    <p-dropdown id="staticCountry" [options]="countries" [(ngModel)]="staticSelectedCountry" placeholder="Select a Country"
                (onChange)="onStaticCountryChange($event.value)" [showClear]="true" optionLabel="name">
    </p-dropdown>
  </div>

  <div class="field col-12 md:col-6">
    <label for="staticCity" class="mr-2">City:</label>
    <p-dropdown id="staticCity" [options]="staticCities" [(ngModel)]="staticSelectedCity" placeholder="Select a City"
                [showClear]="true" optionLabel="name">
      <ng-template let-city pTemplate="selectedItem">
        <div *ngIf="city">
          {{city.name}}
        </div>
      </ng-template>
      <ng-template let-city pTemplate="item">
        {{city.name}}
      </ng-template>
    </p-dropdown>
  </div>

  <div class="col-12">
    <p-button (click)="staticClear()">Clear</p-button>
  </div>

  <div class="field col-12 mt-5">
    <h1>Dynamic text in placeholder (with pipe)</h1>
    <label for="language">Language:</label>
    <p-selectButton id="language" [options]="languages" [(ngModel)]="selectedLanguage" optionLabel="name" optionValue="code"
                    (onOptionClick)="changeLanguage($event)"></p-selectButton>
  </div>

  <div class="field col-12 md:col-6">
    <label for="dynamicCountry" class="mr-2">Country:</label>
    <p-dropdown id="dynamicCountry" [options]="countries" [(ngModel)]="dynamicSelectedCountry" placeholder="{{'selectCountry' | translate}}"
                (onChange)="onDynamicCountryChange($event.value)" [showClear]="true" optionLabel="name">
    </p-dropdown>
  </div>

  <div class="field col-12 md:col-6">
    <label for="dynamicCity" class="mr-2">City:</label>
    <p-dropdown id="dynamicCity" [options]="dynamicCities" [(ngModel)]="dynamicSelectedCity" placeholder="{{'selectCity' | translate}}"
                [showClear]="true" optionLabel="name">
      <ng-template let-city pTemplate="selectedItem">
        <div *ngIf="city">
          {{city.name}}
        </div>
      </ng-template>
      <ng-template let-city pTemplate="item">
        {{city.name}}
      </ng-template>
    </p-dropdown>
  </div>

  <div class="col-12">
    <p-button (click)="dynamicClear()">Clear</p-button>
  </div>
</div>
